/* generics */
* {margin: 0;
   padding: 0;
   box-sizing: border-box;}

:root {--camp-primary: #222222;
       --camp-secondary: #464646;
       --camp-light: #9d9d9d;
       --camp-white: #ffffff;}

 /* utils */
 .wrapper {height: 100vh;
           overflow: hidden;}

 .flex {display: flex;}

 /* header utils */
 .navbar-dark {height: 56px;
               background-color: var(--camp-primary);
               padding: 1rem 2rem;
               align-items: center;
               justify-content: space-between; }

.fa-magnifying-glass {width: 2rem;
                      background-color: #464646;
                      color: #9d9d9d;
                      line-height: 2rem;
                      margin-left: 1rem;}
            
.navbar-dark input {background-color: #464646;
                    color: #9d9d9d;
                    border: none;
                    width: 250px; }

.dark-right a {color: white;
               text-decoration: none;
               margin-left: 1.5rem;}

.navbar-light {height: 56px;
                background-color: var(--camp-secondary);}

/* main utils */
.left {width: 70%;
       background-color: orangered;
       height: 100%;
       overflow-y: auto;
       flex-wrap: wrap;
       padding: 1rem;}

.albums {width: calc(100% / 4);
         height: 300px;
         background-color: azure;
         padding: 0.5rem;}

.album-top {height: 70%;
            border: 1px dashed black;
            background-color: aquamarine;}

.album-bottom {height: 30%;
               background-color: aqua;}

aside {width: 30%;
       background-color: orange;
       height: 100%;
       overflow-y: scroll;}

/* header */
header {height: 112px;}

 /* main */
main {height: calc(100% - 112px);}

